body{
    font-size:65.5%;
    margin:0;
    border: none;
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: monospace;
}
.card{
    width: 80%;
    box-shadow:10px 10px 10px 5px #333;
    font-size:2rem;
    padding:2rem;
    transform:translateY(10%);
    padding-bottom:2rem;
}
span{
    width:2rem;
    height:4px;
    background-color:black;
    display:none;
    margin-top:5px;
    margin-bottom:5px;
}
span::before{
    content:"";
    display:block;
    height:4px;
    width:2rem;
    background-color:black;
}
span::after{
    content:"";
    display:block;
    height:4px;
    width:2rem;
    background-color:black;
}
h4{
    font-size:2rem;
    font-weight: bold;
    color:#7159c1;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0;
    padding:10px;
}
.card__img{
    /*background:url("/viewsplay/audio1.png") no-repeat center center/cover;*/
    height:40rem;
    width:50rem;
}
audio{
    width:100%;
}
.audio{
    display:flex;
    justify-content:space-around;

}
.barra{
    margin-left:1rem;
    margin-right:1rem;
}
.barra__input{
    width:10rem;
    color:#7159c1;
    border-radius:5px;
}
.b{
    display:flex;
    justify-content:space-around;
    margin-bottom:2rem;
    margin-top:1rem;
}
button{
    padding:2rem;
    background-color:#7159c1;
    color:white;
    border:none;
    z-index:999;
    border-radius:1.5rem;

    outline:none;
    font-size:2rem;
}
.vul{
    display:flex;
    justify-content: space-between;
}
.m{
    margin-left:0.5rem;
}
.conteiner__master{
    display:flex;
    justify-content:space-between;
}
*{
    text-decoration:none;

}
.cont{
    transform:translateY(-10%);
}
.Next,.Back{
    padding:1rem;
}
